    
.tag1 {
    background: #006872;
    color: white;
    width: fit-content;
    height: 1.8rem;
    display: inline-block;
    padding: 0.1rem 0.5rem 0.5rem 1.5rem;
    border-radius: 2rem 1rem 1rem 2rem;
    position: relative;
    margin: 0 0.3rem 0.3rem 0;
    font-family: helvetica;
  }
  .tag1:after {
    content: '';
    width: 0.6rem;
    height: 0.6rem;
    background: white;
    position: absolute;
    top: 0.6rem;
    left: 0.5rem;
    border-radius: 4rem;
  }
  .tag1 span{
    float: right;
  }