a{
    color: black;
}
.wrap-it{
    width:90vw;
    margin: auto;
    margin-top: 5rem;
}
.dropshadow-box{
    background: linear-gradient(180deg, #FCFAFA 0%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
   
border-radius: 1.2rem;
width: 18rem;
height: 18rem;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
margin: 1rem 1rem;

}
.dropshadow-box-1{
    background: linear-gradient(180deg, #FBF9F9 0%, rgba(255, 255, 255, 0) 100%);
    filter:drop-shadow(0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
    border-radius: 1.2rem;
    width: 16rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin:1rem 1rem;
}
.dropshadow-box img, .dropshadow-box-1 img{
    width: 5rem;
    margin: 2rem;
}
.wrap-it .searchicon{
    border: 0.1rem solid rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    background:url("../../../imges/searchicon.svg")  no-repeat scroll 1rem 0.7rem ;
    background-size: 1.5rem;
    
    font-size: 1.2rem;
    text-align: center;
    color: #006872;
    font-weight: 600;
    width: 85vw;
    height: 3rem;
    padding: 1.2rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.searchicon{
    border: 0.1rem solid rgba(90, 90, 90, 0.4);
    border-radius: 1rem;
    background:url("../../../imges/searchicon.svg")  no-repeat scroll 1rem 0.7rem ;
    background-size: 1.5rem;
    
    font-size: 1.2rem;
    text-align: center;
    /* color: #006872; */
   
    
    /* width: 85vw; */
    height: 3rem !important;
    padding: 1.2rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
