.main-log6{
    display: flex;
    height: 200vh;
    background-color: #F5EEEE;
    /* background-color: #F5F5F5; */
    /* background-image: linear-gradient(to right, #FDECEC, #FDECEC 35%, transparent 35%, transparent 100%); */
}
.imglog6{
    width: 700px;
    height: 700px;
}