.main-screen{
    display: flex;
    height: 87vh;
}
.leftconnect{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    padding: 3%;
    justify-content: flex-start;
    width: 40%;
    height:30rem;
}
.offerholder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    width: 100%;
    overflow: scroll;
    height:80%;
}
.leftdiv1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    width: 100%;
    height:25rem;
}
.leftdiv2{
    margin-top:2rem;
    display: flex;
    justify-content:center;
    width: 100%;
    height:5rem;
}
.rightconnect{
    padding: 2% 2% 2% 2%;
    justify-content:middle;
    min-width: 200px;
    overflow-y: auto;
    min-width: 50%;
    height:100%;
}
