.navbar a.navbar-brand {

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 45px;
    /* or 125% */
    letter-spacing: 0.2px;
    color: #000000;
    background:var(--bs-light);
  }
  
.nav-link{
    padding-top: 0px;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 45px;
    /* or 125% */
    letter-spacing: 0.2px;
    color: #000000;
    background:var(--bs-light);
  }

.namecontainer{
    background:var(--bs-light);
    display:flex;
}
