/* input[type=text] {
    width: 100%;
    height: 5vh;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  } */
/* .form-control2{
    width: 100%;
    height: 5vh;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 20px;
} */

.main-log{
    display: flex;
    height: 100vh;
    /* background-image: linear-gradient(to right, #FDECEC, #FDECEC 35%, transparent 35%, transparent 100%); */
}
.imglog1{
    width: 100%;
    height: 100%;
}

.rightbar{
    padding: 1% 2% 2% 2%;
    justify-content:middle;
    min-width: 50%;
    height:100vh;
    overflow-y:auto;
}
.seconddiv{
    width: 40vw;
    margin-top: 90px;
}
.links{
    display: flex;
    justify-content: space-around;
}
.icon{
    display: flex;
    cursor: pointer;
    align-items:baseline;
    justify-content: space-around;
}
.cus{
    /* margin-left: 10px; */
}
.icon3{
    display: flex;
    cursor: pointer;
    align-items:baseline;
    margin: 0% 1%;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0.5rem 0.5rem 0.5rem #888888;
}