.boxcust{
    width: 55vw;
    
    padding: 1rem;
    /* background-color: white; */
    border: 1px solid rgba(255, 255, 255);
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.272);
    background-color: white;
    background-image: linear-gradient(to bottom,white,#F5EEEE);
    margin-top: 1rem;
    margin-left: 1rem;
    border-radius: 1.25rem;
    /* text-align: center; */
}
.boxcust-project{
    height: 20rem;
}
.boxcust-m{
    height: 15rem;
}
.boxcust-l{
    height: 18rem;
}
.boxcust1{
    width: 58.4375rem;
    height: 18.75rem;
    background-color: white;
    border: 0.0625rem solid rgba(255, 255, 255);
    box-shadow: 0.0625rem 0.0625rem 0.0625rem 0.0625rem rgb(0, 0, 0, 0.272);
    background-image: linear-gradient(to bottom,white,#F5EEEE);
    margin-top: 2.5rem;
    margin-left: 1rem;
    border-radius: 0.625rem;
    text-align: center;
    padding: 1rem;
}
.outline-blue{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    height: 8rem;
    width: 8rem;
    border: 0.2rem solid #006872;
    /* background-color: rgb(254, 254, 254); */
    /* border: 1px solid rgba(255, 255, 255); */
    box-shadow: 0.0625rem 0.0625rem 0.0625rem 0.0625rem rgb(0, 0, 0, 0.272);
    /* background-image: linear-gradient(to bottom,white,#F5EEEE); */
    border-radius:50%;
    
    margin: auto;
    margin-top: 2rem;
    /* padding-top: 16px; */
}
.outline-blue-thick{
    border: 0.8rem solid #006872;
    margin-bottom: 1rem;
    
}
.outline-yellow-align{
    display: flex;
    flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
     
}
.outline-yellow{
    display: flex;
      justify-content: center;
      align-items: center;
     
    height: 6.5rem;
    width: 6.5rem;
    
    border: 0.3rem solid  #FFC727;
    background-color:#FFFFFF;
  
    /* background-color: rgb(254, 254, 254); */
    /* border: 1px solid rgba(255, 255, 255); */
    box-shadow: 0.0625rem 0.0625rem 0.0625rem 0.0625rem rgb(0, 0, 0, 0.272);
    /* background-image: linear-gradient(to bottom,white,#F5EEEE); */
    border-radius:50%;
    
    /* margin: auto; */
    /* margin-top: 2rem; */
}
.boxcust .circle_3{
    margin-left: 5rem;
   justify-content: center;
    width: 45vw;
    /* margin: auto; */
    /* background-color: #006872; */
}
.outline-blue-thick .outline-yellow-heightls{
    height: 5rem;
    width: 5rem;
}
.outline-yellow img{
    width: 2.5rem;

}
.m-bottom{
    margin-bottom: 1rem;
}


.outline-blue h6{
    margin-top: 3rem;
}
.minboxcust{
    width: 3.4375rem;
    height: 3.75rem;
    background-color: rgb(254, 254, 254);
    border: 1px solid rgba(255, 255, 255);
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.272);
    /* background-image: linear-gradient(to bottom,white,#F5EEEE); */
    border-radius: 1.25rem;
    margin-top: 1.875;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
}
.wrap-left{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.wrap-left .wrapped .boxcust{
    width: 18rem;
    margin-right: 1rem;
    /* background-color: black; */
}
.boxcust-xl{
    width: 78vw;
    height: 15rem;
    
    margin:1rem;
    margin-left: 3rem;
}

.ab-flex{
    display: flex;
    justify-content: left;
    margin-left: 1rem;
    /* background-color: #006872; */
    
}
.ab-flex p{
    text-align: left;
    margin: 0;
}
.checkbox-blue{
    width: 0.7rem;
    height: 0.7rem;
    margin-top: 0.4rem;
    margin-right: 0.5rem;
    background-color: #006872;
}
.checkbox-yellow{
    width: 0.7rem;
    height: 0.7rem;
    margin-top: 0.4rem;
    margin-right: 0.5rem;
    background-color: #FFC727;
    
}
.post-talent-project{
    background: #FEFEFE;
    border: 0.1rem solid rgba(0, 0, 0, 0.4);
    border-radius: 0.8rem;
    color: black;
    margin: 0.5rem ;
    padding: 0.5rem;
    text-align: center;
    
}
.posting-wrap{
    display: flex;
    justify-content: space-between;
   
}
.post-talent-project img{
    margin-right: 0.5rem;
    margin-left: 1rem;
}
.earning-img img{
    margin-top: 8rem;
}
.n-msg{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media only screen and (max-width: 600px){
    html{
        font-size: 30%;
    }
}
@media only screen and (min-width: 768px){
    html{
        font-size: 60%;
    }
}
@media only screen and (min-width: 1024px) {
    html{
        font-size: 75%;
    }
}

@media only screen and (min-width: 1280px) {
    html{
        font-size: 100%;
    }
}