
.overlap-group25 {
    height:5rem;
    margin-left: 0.4375rem;
    margin-top: 2.1875rem;
    position: relative;
    width: 16.625rem;
  
  }
  .flex-row {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
  }
  .postbut1{
      background-color: #006872;
      border: 0.2rem solid rgb(238, 238, 238);
      border-radius: 0.625rem;
      color: white;
      margin-left: auto;
      margin-right: auto;
      width: 9.375rem;
      font-weight: 600;
     padding: 0.3rem;
      text-align: center;
  }
  .editbut1{
    background-color: #ffffff;
    border: 0.2rem solid rgb(238, 238, 238);
    border-radius: 0.625rem;
    color: black;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    width: 9.375rem;
    padding: 0.3rem;
    text-align: center;
  }
  
  .cust-ulside{
    color: black;
    text-align: left;
    margin-left:3.4375rem;
    list-style: none;
  }
  .cust-ulside1{
    color: black;
    text-align: left;
    margin-left: 3rem;
    list-style: none;
  }
  
  @media only screen and (max-width: 600px){
    html{
        font-size: 35%;
    }
  }
  @media only screen and (min-width: 768px){
    html{
        font-size: 50%;
    }
  }
  @media only screen and (min-width: 1024px) {
    html{
        font-size: 75%;
    }
  }
  
  @media only screen and (min-width: 1280px) {
    html{
        font-size: 100%;
    }
  }