input{
    border: 0px;
    border-bottom: 1px solid black;
}
.form-control3{
    border: 0px;
    border-bottom: 1px solid black; 
    border-radius: 0px;
    /* margin-left: -10px; */
}
.main-logr{
    display: flex;
    /* padding-bottom: 0px; */
    height: 75vh;
    overflow: hidden;
    margin:0;
    /* background-image: linear-gradient(to right, #FDECEC, #FDECEC 35%, transparent 35%, transparent 100%); */
}
.imglog1r{
    width: 100%;
    height: 33rem;
}
.rightbarr{
    justify-content:middle;
    padding: 0.5rem;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.leftbarr{
    padding: 2% 2% 2% 2%;
    justify-content:middle;
    min-width: 200px;
    min-width: 50%;
    height:100%;
}
.seconddiv3{
    width: 40vw;
    margin-top: 100px;
    /* padding-right: 100px; */
}
.links3{
    display: flex;
    justify-content: space-around;
}
.icon3{
    display: flex;
    align-items:baseline;
    justify-content: space-around;
}
.cus{
    /* margin-left: 10px; */
}
progress {
    display: block; /* default: inline-block */
    padding: 0.01rem;
    margin: 0 0 1rem 0;
    border: 0 none;
    background: rgba(235, 235, 235, 0.6);;
    border-radius: 0.9rem;
  }
  progress::-moz-progress-bar {
    border-radius: 0.8rem;
    background: orange;
  
  }
  /* webkit */
  /* @media screen and (-webkit-min-device-pixel-ratio:0) {
    progress {
      height: 25px;
    }
  } */
  progress::-webkit-progress-bar {
      background: transparent;
  }  
  progress::-webkit-progress-value {  
    border-radius: 0.8rem;
    background: orange;
  }

  .progress {
    display: block; /* default: inline-block */
    margin: 2rem auto;
    padding: 0.01rem;
    border: 0 none;
    background: rgba(235, 235, 235, 0.6);;
    border-radius: 0.9rem;
  }
  .progress::-moz-progress-bar {
    border-radius: 0.8rem;
    background: green;
  
  }
  /* webkit */
  /* @media screen and (-webkit-min-device-pixel-ratio:0) {
    .progress {
      height: 25px;
    }
  } */
  .progress::-webkit-progress-bar {
      background: transparent;
  }  
  .progress::-webkit-progress-value {  
    border-radius: 0.8rem;
    background: green;
  }

